
import(tools)
import( mdqc, affyContam)

import(Biobase) 
import(affy)
import(lumi, except=c(plotDensity, MAplot))
import(methods)
import(parody)

export(plot)

exportClasses("arrOutStruct")

exportMethods(ArrayOutliers, show)

